# Ignorar arquivos temporários do Arduino
*.ino.d
*.ino.cpp
*.ino.o
*.elf

# Ignorar bibliotecas de terceiros
/libraries/*

# Ignorar a pasta de build (caso o Arduino IDE crie uma)
build/

# Ignorar arquivos de configuração do VSCode
.vscode/

# Ignorar arquivos de log
*.log

# Ignorar arquivos temporários de backup
*.bak
*~

# Ignorar a pasta do PlatformIO (se aplicável)
.pio/